<h1><%= @movie_info['title'] %></h1>

<p><strong>上映日：</strong><%= @movie_info['release_date'] %></p>

<p><strong>上映時間：</strong><%= @movie_info['runtime'] %>分</p>

<p>
    <strong>ジャンル：</strong>
    <% @movie_info['genres'].each do |genre| %>
        <% if genre == @movie_info['genres'].last %>
            <span><%= genre['name'] %></span>
        <% else %>
            <span><%= genre['name'] %>、</span>
        <% end %>
    <% end %>
</p>

<p><strong>ストーリ：</strong><%= @movie_info['overview'] %></p>

<%= image_tag("https://image.tmdb.org/t/p/original#{@movie_info['poster_path']}", :alt => 'poster',:size =>'320x480') %>

<%= link_to "レビューを投稿する",  reviews_new_path(@movie_info['id']), class: "btn btn-primary col-xs-12" %>