<div class="container">
    <div class="row">
        <div class="col-xs-3" >
            <%= image_tag("https://image.tmdb.org/t/p/w200#{@movie_info['poster_path']}", :alt => 'poster') %>
        </div>
        <div class="col-xs-9">
            <p><strong>映画タイトル：</strong><%= @movie_info['title'] %></p>
            <p><strong>上映日：</strong><%= @movie_info['release_date'] %></p>
            <p><strong>上映時間：</strong><%= @movie_info['runtime'] %>分</p>
            <p>
                <strong>ジャンル：</strong>
                <% @movie_info['genres'].each do |genre| %>
                    <% if genre == @movie_info['genres'].last %>
                        <span><%= genre['name'] %></span>
                    <% else %>
                        <span><%= genre['name'] %>、</span>
                    <% end %>
                <% end %>
            </p>
            <p><strong>ストーリ：</strong><%= @movie_info['overview'] %></p>

            <% if @reviews.where(user_id: 'current_user.id') %>
       
            <%= link_to "レビューを投稿する",  reviews_new_path(@movie_info["id"]), class: "btn btn-warning" %>
            <% end %>
            
            <% if !Favorite.exists?(user_id:current_user.id, movie_id:@movie.id) %>
              <%= link_to movie_favorites_path(@movie),method: :post, class: "btn btn-info" do %>
                <i class="fas fa-bookmark"></i> お気に入り
              <% end %>
              <% else %>
              <%= link_to movie_favorites_path(@movie),method: :delete, class: "btn btn-info" do %>
                <i class="fas fa-bookmark"></i> お気に入り解除
              <% end %>
            <% end %>
        </div>
    </div>

    <table class="table" style="margin-top: 20px;">
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>評価(5点満点中)</th>
            <th>レビュー</th>
          </tr>
        </thead>
        <tbody>
            <% @reviews.each do |review| %>
              <tr>
                  <td>
                      <%= link_to user_path(review.user_id) do %>
                      <%= attachment_image_tag review.user, :image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: '50x50' %>
                      <% end %>
                  </td>
                  <td><%= review.user::name %></td>
                  <td><%= review.rate %> 点</td>
                  <td>
                      <%= link_to review_path(review.id) do %>
                      <%= review.body %>
                      <% end %>
                  </td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>




