
<div class="container">


<h3>プロフィール編集</h3>

<div class="row">

<%= form_for(@user) do |f| %>

<h4>名前</h4>

<%= f.text_field :name %>

<h4>性別</h4>

<%= f.radio_button :sex, :男性 %>
<%= f.label :sex, "男性", {value: :男性, style: "display: inline-block;"} %>
<%= f.radio_button :sex, :女性 %>
<%= f.label :sex, "女性", {value: :女性, style: "display: inline-block;"} %>

<h4>年齢</h4>

<%= f.select :age, ["20代", "30代", "40代", "50代", "60代以上"], :prompt => "選択してください" %>

<h4>プロフィール画像</h4>

<%= f.attachment_field :image %>

<h4>自己紹介文</h4>

<%= f.text_area :profile %>

<%= f.submit "更新", class: "btn btn-success btn-block", style: "width: 100px;" %>

<% end %>
</div>
</div>



<style>

h3 {
	border-bottom:solid;
	text-align: center;
}

.row {
	width:20%;
	margin: 0 auto;
}
</style>
