<p>ニックネーム:<%= @user.name %></p>
<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "" %></p>
<% end %>
<%= @user.age %>　<%= @user.sex %>

<h3><自己紹介文></h3>
<%= @user.profile %>

<h4>ブックマーク</h4>

<% if @movie_info != nil %>
<%= link_to movies_show_path(@movie_info["id"]) do %>
<%= image_tag("https://image.tmdb.org/t/p/original/#{@movie_info['poster_path']}",:size =>"200x200") %>
<% end %>
  <% end %>
