
<div class= "container">
	<div class="row">

		<div class="offset-md-1 col-xs-3">
			<p><%= @movie_info['title'] %><p>
			<%= image_tag("https://image.tmdb.org/t/p/w200#{@movie_info['poster_path']}", :alt => 'poster') %>
		</div>

		<div class="offset-md-1 ol-xs-7 ">
			<p>レビュー</p>
			<%= form_for(@review) do |f| %>
			<%= f.hidden_field :movie_id, :value => @movie_id %>
			<%= f.text_area :body, size: "50x5"%>
			<div id="star">
				<%= f.label :rate, '評価'  %>
				<%= f.hidden_field :rate, id: :review_star %>
			</div>
			<p><%= f.submit "投稿する", class: "btn btn-warning" %></p>
			<% end %>
		</div>
	</div>
</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[rate]',  //reviewモデルのrateカラムに値を保存する
  half: true,
});
</script>